venv
__pycache__
*.pyc
*.pyo
*.pyd

.idea
.vscode
*.sublime-project
*.sublime-workspace

*.bak
*.swp
*~
*.swo
*.swn
*.swm
*.swl

.env
*.env.local
*.env.dev
*.env.development
*.env.prod
*.env.production
*.env.staging
*.env.test
*.env.testing
